/app/vendor
/app/node_modules
/app/.env
/app/bootstrap/cache/*.php
/app/storage/*.key
/app/storage/logs/*
/app/storage/framework/cache/*
/app/storage/framework/sessions/*
/app/storage/framework/views/*